@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class=" = text-center">
        <h1 class=" display-4">Core Wiki Assignment</h1>
        <p>
            Learn more about the website from the github link <a href="https://github.com/soodrk/IS7012/tree/master/CoreWiki"></a>
        </p>
    </div>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>Table of Contents</h2>

    <table>
        <tr>
            <th>Page Link</th>
        </tr>
        <tr>
            
            <td><a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh"></a>Sirhind</td>
        </tr>
        <tr>
            
            <td><a href="https://en.wikipedia.org/wiki/Pound"></a>Pound</td>
        </tr>
    </table>

</body>


