@page
@model CoreWiki.Pages.PoundModel
@{
    <title>Pound-Wikipedia</title>
}
<h1>Pound</h1>
<a href="https://en.wikipedia.org/wiki/Pound">
    https://en.wikipedia.org/wiki/Pound
</a>
<hr />
<h6>From Wikipedia, the free encyclopedia</h6>
<h6><strong>Pound</strong></n> or <strong>Pounds</strong> </n> may refer to:</h6></br>
<p>Units [edit] </p>
<ul style="list-style-type:circle;">
    <li><a href="https://en.wikipedia.org/wiki/Pound_(currency)"> Pound (currency)</a>, a unit of currency</li>
    <li><a href="https://en.wikipedia.org/wiki/Pound_sterling">Pound sterling</a>, a unit of currency (the official currency of the United Kingdom)</li>
    <li><a href="https://en.wikipedia.org/wiki/Pound_(mass)">Pound (mass)</a>, a unit of mass</li>
    <li><a href="https://en.wikipedia.org/wiki/Pound_(force)">Pound (force)</a>, a unit of force</li>
    <li>Rail pound, in <a href="https://en.wikipedia.org/wiki/Rail_profile"> rail profile</a></li>
</ul>
<p>Symbols [edit] </p>
<ul style="list-style-type:circle;">
    <li><a href="https://en.wikipedia.org/wiki/Pound_sign">Pound sign </a>, the symbol for the pound sterling, £</li>
    <li><a href="https://en.wikipedia.org/wiki/Number_sign">Number sign </a>(also pound sign), the symbol #</li>
</ul>

<p>Places in the United States [edit] </p>
<ul style="list-style-type:circle;">
    <li> <a href="https://en.wikipedia.org/wiki/Pound,_Virginia"> Pound, Virginia</a>, a town</li>
    <li> <a href="https://en.wikipedia.org/wiki/Pound,_Wisconsin">Pound, Wisconsin</a>, a village</li>
    <li> <a href="https://en.wikipedia.org/wiki/Pound_(town),_Wisconsin">Pound (town), Wisconsin</a>, a town</li>
    <li> <a href="https://en.wikipedia.org/wiki/Pound_Ridge,_New_York"> Pound Ridge, New York</a>, a town</li>
</ul>
<p>Entertainment [edit] </p>
<ul style="list-style-type:circle;">
    <li><a href="https://en.wikipedia.org/wiki/Pound_(band)">Pound (band)</a>, an American rock band</li>
    <li><a href="https://en.wikipedia.org/wiki/Pound_(film)">Pound (film)</a>, a 1970 film directed and written by Robert Downey, Sr.</li>
</ul>
<p>Other Uses [edit]</p>
<ul style="list-style-type:circle;">
    <li><a href="https://en.wikipedia.org/wiki/Pound_(surname)">Pound (surname)</a>, a list of people</li>
    <li><a href="https://en.wikipedia.org/wiki/Animal_shelter"> Animal shelter </a>(also a " pound"), a facility that houses homeless, lost, or abandoned animals</li>
    <li><a href="https://en.wikipedia.org/wiki/Animal_pound">Animal pound</a>, a similar structure</li>
    <li><a href="https://en.wikipedia.org/wiki/Canal_pound">Canal pound</a>, the stretch of level water impounded between two canal locks</li>
    <li><a href="https://en.wikipedia.org/wiki/Fist_bump">Fist bump </a>(also a "pound" or a "fist pound" ), a gesture similar in meaning to a handshake or high five</li>
    <li><a href="https://en.wikipedia.org/wiki/Buffalo_pound">Buffalo pound</a>, a hunting structure used by indigenous North Americans to trap bison (buffalo)</li>
    <li><a href="https://en.wikipedia.org/wiki/Pound_(networking)">Pound (networking)</a>, a lightweight open source reverse proxy program and application firewall</li>
    <li><a href="https://en.wikipedia.org/wiki/Pound_(magazine)">Pound (magazine)</a>, a Toronto-based hip hop magazine</li>
    <li><a href="https://en.wikipedia.org/wiki/Pounds,_shillings_and_pence">Pounds</a>, shillings and pence or £sd, British and other European pre-decimal currency</li>
</ul>
<p>See also [edit]</p>
<ul style="list-style-type:circle;">
    <li><a href="https://en.wikipedia.org/w/index.php?title=Special:Search&search=intitle%3A%22pound%22&ns0=1">All pages with titles containing pound</a></li>
</ul>











