@page
@model CoreWiki.Pages.SirhindModel
@{
    ViewData["Title"] = "Sirhind";
}

<h1>Sirhind- Fatehgarh</h1>
<title>Sirhind-Fategarh</title>
<a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh">
    https://en.wikipedia.org/wiki/Sirhind-Fategarh
</a>
<hr />
<h6>From Wikipedia, the free encyclopedia</h6>
<h6><strong>Sirhind-Fatehgarh</strong></n> is an urban city in Fatehgarh Sahib district in the Indian state of Punjab</h6>
<div id="tableofcontents">
<table>
    <thead>Contents [hide]</thead>
        <ol>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Demographics">Demographics</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Etymology">Etymology</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#history">History</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#How_to_reach_Sirhind-Fatehgarh_Sahib">How to reach Sirhind-Fatehgarh Sahib</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Education_Institutions_in_Sirhind-Fatehgarh_Sahib">Education Institutions in Sirhind-Fatehgarh Sahib</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#University">University</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Engineering_College">Engineering College</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#General_degree_colleges">General degree colleges</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Law_College">Law College</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Polytechnic_College">Polytechnic College</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Teacher_Training_College">Teacher Training College</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#CBSE_affiliated_school">CBSE affiliated school</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#CISCE_affiliated_school">CISCE affiliated school</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Punjab_School_Education_Board_affiliated_schools">Punjab School Education Board affiliated schools</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Centeral_Board_Of_Secondary_education_(CBSE)_affiliated_schools">Centeral Board Of Secondary education (CBSE) affiliated schools</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Other">Other</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Historical_and_religious_places_in_Sirhind-Fatehgarh_Sahib">Historical and religious places in Sirhind-Fatehgarh Sahib</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Gallery">Gallery</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#See_also">See also</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#Further_reading">Further reading</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#References">References</a></li>
            <li> <a href="https://en.wikipedia.org/wiki/Sirhind-Fategarh#External_links">External links</a></li>
        </ol>

</table>
</div>
<div id="imagesource">
    <a href="/wiki/File:Fatehgarh_Sahib_Gurdwara,_Punjab,_India.jpg">
        <img src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Fatehgarh_Sahib_Gurdwara%2C_Punjab%2C_India.jpg/245px-Fatehgarh_Sahib_Gurdwara%2C_Punjab%2C_India.jpg"
             width="245" height="327" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Fatehgarh_Sahib_Gurdwara%2C_Punjab%2C_India.jpg/368px-Fatehgarh_Sahib_Gurdwara%2C_Punjab%2C_India.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Fatehgarh_Sahib_Gurdwara%2C_Punjab%2C_India.jpg/490px-Fatehgarh_Sahib_Gurdwara%2C_Punjab%2C_India.jpg 2x" <a href="/wiki/File:Fatehgarh_Sahib_Gurdwara,_Punjab,_India.jpg" </a>
</div>
<div>
Gurudwara Fatehgarh Sahib</div>












